/* Navbar.css */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    padding: 20px;
    width: 850px;
    border-top: 1px solid wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar-item {
    margin: 0 10px;
    position: relative;

}

.navbar-item a {
    text-decoration: none;
    color: #e4d9d9;

    position: relative;
    font-size: 23px;
}

.navbar-item a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 4px;
    background-color: rgb(63, 63, 138);
    transition: width 0.3s ease-in-out;
}

.navbar-item a:hover::after {
    width: 100%;
}

.nav-linkss {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Teko', sans-serif;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    letter-spacing: 2px;
    /* font-size: 20px; */
}
.nav-linkss::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 4px;
    background-color: rgb(63, 63, 138);
    transition: width 0.3s ease-in-out;
  }
  
  .nav-linkss:hover::after {
    width: 100%;
  }
.nav-links-about{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Teko', sans-serif;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    letter-spacing: 2px;
}
.nav-links-about:hover {
    font-size: 55px;
   
  }
@media (max-width: 768px) {

    .navbar-list {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .navbar-item {
        margin: 10px;
        /* Adjust margin for smaller screens */
    }

    .navbar-item a {
        padding: 10px 10px 0 10px;
        font-size: 18px;
        /* Adjust padding for smaller screens */
    }

    .navbar-item a::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: rgb(63, 63, 138);
        transition: width 0.3s ease-in-out;
    }
}
